name: CI Matching
on:
  push:
    branches:
      - '**'
    paths:
      - 'matching/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - name: Run tests
        working-directory: ./driver-location
        run: go test -v -race -coverprofile=coverage.out ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: ./driver-location
